/*Font*/
/* latin */
@font-face {
  font-family: 'Capriola';
  font-style: normal;
  font-weight: 400;
  src: local('Capriola Regular'), local('Capriola-Regular'), url(https://fonts.gstatic.com/s/capriola/v5/wXKoE3YSppcvo1PDlk_7JeE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

main {
  width: 75rem;

}

header img {
  width: 100%;
  height: auto;
}

header h1 {
  font-family: 'Capriola', sans-serif;
}

header ul {
  display: flex;
}

header ul li {
  margin: 0 2rem;
  background-color: black;
  padding: 0.5rem 2rem;
  border-radius: 4px;
  border: 1px solid white;
}

header ul li:hover {
  border: 1px solid GreenYellow;
}

header ul li a {
  color: white;
  text-decoration: none;
}

header ul li a:hover {
  color: GreenYellow;
  text-decoration: none;
}

header ul li a:active {
  color: Red;
  text-decoration: none;
}

header ul li a:visited {
  color: white;
  text-decoration: none;
}
